# 01. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [ ]:
# Importing 'products.csv' as as df_prods from 'Original Data' folder and 'order_cvs' as df_ords from 'Prepared Data' folder

In [2]:
path_prods = r'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Original Data/products.csv'

In [3]:
path_prods

'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Original Data/products.csv'

In [4]:
path_ords = r'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Prepared Data/orders_wrangled.csv'

In [5]:
path_ords

'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Prepared Data/orders_wrangled.csv'

In [6]:
df_prods = pd.read_csv(os.path.join(path_prods), index_col = False)

In [7]:
df_ords = pd.read_csv(os.path.join(path_ords), index_col = False)

# 03. Data Consistency Checks

In [9]:
# cerating a test dataframe to practice mixed-type data
# Create a dataframe
df_test = pd.DataFrame()

In [10]:
# Create a mixed-type column
df_test['mix'] = ['a', 'b', 1, True]

In [11]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [12]:
# the function below will check wether the dataframe contains any mix-type colums
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [13]:
# the code below will change the data type
df_test['mix'] = df_test['mix'].astype('str')

In [14]:
# the code below will find missing values in 'df_prods'
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [15]:
# The code below will create a subset containing the missing value from 'product_name' column
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [16]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [19]:
df_prods.shape

(49693, 5)

In [20]:
# the code below will create a new dataframe from 'df_prods' where the missing value is equal to false.
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [21]:
df_prods_clean.shape

(49677, 5)

In [22]:
# The code below will look for full duplicates in your 'df_prods' data
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [23]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [24]:
df_prods_clean.shape

(49677, 5)

In [25]:
# the code below will create a new dataframe that will include the duplicates that were identified above
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [27]:
df_prods_clean_no_dups.shape

(49672, 5)

In [28]:
df_prods_clean_no_dups

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0
20,21,Small & Medium Dental Dog Treats,40,8,10.0
21,22,Fresh Breath Oral Rinse Mild Mint,20,11,9.5
22,23,Organic Turkey Burgers,49,12,8.2
23,24,Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...,47,11,9.1
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
25,26,Fancy Feast Trout Feast Flaked Wet Cat Food,41,8,11.3
26,27,Complete Spring Water Foaming Antibacterial Ha...,127,11,5.3
27,28,Wheat Chex Cereal,121,14,10.1
28,29,Fresh Cut Golden Sweet No Salt Added Whole Ker...,81,15,6.8
29,30,"Three Cheese Ziti, Marinara with Meatballs",38,1,13.8
...,...,...,...,...,...
49663,49659,Organic Creamed Coconut,17,13,3.1
49664,49660,Professionals Sleek Shampoo,22,11,6.7
49665,49661,Porto,134,5,8.2
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2
49668,49664,Lemon Cayenne Drinking Vinegar,100,21,13.7
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49671,49667,Enchilada with Spanish Rice & Beans Meal,38,1,6.6
49672,49668,Apple Cinnamon Scented Candles,101,17,5.6
49673,49669,K Cup Dark Blend,100,21,4.7
49674,49670,Beef Summer Sausage,106,12,19.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49677,49673,Stone Baked Multi Grain Artisan Rolls,129,1,5.6
49678,49674,Frozen Greek Yogurt Bars Chocolate Chip,37,1,11.1
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49681,49677,Thick & Chunky Sloppy Joe Sauce,59,15,8.9
49682,49678,Large Chicken & Cheese Taquitos,129,1,3.4
49683,49679,Famous Chocolate Wafers,61,19,6.0
49684,49680,All Natural Creamy Caesar Dressing,89,13,4.9
49685,49681,Spaghetti with Meatballs and Sauce Meal,38,1,6.9
49686,49682,California Limeade,98,7,4.3
49687,49683,Cucumber Kirby,83,4,13.2
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [ ]:
# The code below show the steps for exporting the new cleaned 'df_prods'dataframe into a csv file

In [29]:
path_deps_clean = r'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Prepared Data'

In [30]:
df_prods_clean_no_dups.to_csv(os.path.join(path_deps_clean, 'products_checked.csv'))