# 01. Importing Libraries

In [27]:
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Importing 'order_products__prior.csv' as 'df_ords_prior' from Original Data and 
# 'orders.csv' as df_ords from Prepared Data

In [28]:
path_ords_prior = r'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Original Data/order_products__prior.csv'

In [29]:
path_ords_prior

'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Original Data/order_products__prior.csv'

In [30]:
path_ords = r'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Prepared Data/orders_checked.csv'

In [31]:
path_ords

'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Prepared Data/orders_checked.csv'

In [32]:
df_ords_prior = pd.read_csv(os.path.join(path_ords_prior), index_col = False)

In [33]:
df_ords = pd.read_csv(os.path.join(path_ords), index_col = False)

In [ ]:
# The code below will check the output for 'df_ords_prior'

In [34]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [ ]:
# the code below will check the output for 'df_ords'

In [51]:
df_ords.head().drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,ordered_today
0,2539329,1,prior,1,2,8,NaN,True
1,2398795,1,prior,2,3,7,15.0,False
2,473747,1,prior,3,3,12,21.0,False
3,2254736,1,prior,4,4,7,29.0,False
4,431534,1,prior,5,4,15,28.0,False

In [52]:
df_ords_prior.shape

(32434489, 4)

In [54]:
df_ords.shape

(3421083, 10)

# 03. Merging Data

In [55]:
# The code below will merge both dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [58]:
df_merged_large.head().drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,ordered_today,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [ ]:
# The code below will count the frequency for '_merge'

In [57]:
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

In [ ]:
# The code below will export the merged file in pickle format as “orders_products_combined.pkl”

In [59]:
path_merged_large = r'/Users/robertochidiac/Desktop/Instacart Basket Analysis/Data/Original Data'

In [60]:
df_merged_large.to_pickle(os.path.join(path_merged_large, 'orders_products_combined.pkl'))